# Database Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=auth_db

# Security
JWT_SECRET_KEY=generate_a_random_jwt_secret_key

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# SMTP Email Configuration
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
EMAIL_LOGIN=your_smtp_login
EMAIL_PASSWORD=your_smtp_password
