# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/

# Environment variables & secrets
.env
.env.*
!.env.example
docker-compose.yml

# IDE
.idea/
.vscode/
*.swp
*.swo

# GeoIP databases
*.mmdb

# Logs
*.log

# OS
.DS_Store
Thumbs.db
